<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
<h1>File Handler</h1>
<form method="post" action="/api/files" enctype="multipart/form-data" novalidate>
    <label for="files">Choose files:</label>
    <input type="file" name="files" id="files" multiple>
    <input type="submit" name="submit" value="Upload">
</form>
<hr>
<label for="file_name">Enter file name:</label>
<input type="text" id="file_name" placeholder="file name">
<button id="download">Download</button>
<hr>
<h3>All files</h3>
{{$files := index .Data "files"}}
<ul>
    {{range $files}}
    <li>
        {{.Key}} - {{.LastModified}} - {{.Size}}
    </li>
    {{end}}
</ul>

<script>
    document.getElementById("download").addEventListener("click", ev => {
        const fileNameInput = document.getElementById("file_name")
        if (fileNameInput.value === "") {
            alert("file name is required");
            return;
        }
        console.log("filename:", fileNameInput.value);

        const data = JSON.stringify({
            "file_name": fileNameInput.value
        })
        fetch("http://localhost:3000/file", {
            credentials: "same-origin",
            mode: "same-origin",
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: data,
        }).then(response => {
            if (response.status !== 200) {
                return;
            }

            const contentDisposition = response.headers.get('content-disposition');
            let fileName = "unnamed.jpg"

            if (contentDisposition) {
                const fileNameRegex = new RegExp(`(filename=)(.*)`, 'g');
                const match = contentDisposition.match(fileNameRegex);
                if (match && match.length) {
                    fileName = match[0].split("=")[1];
                }
            }

            response.blob().then(function (myBlob) {
                const a = document.createElement('a');
                const objectURL = window.URL.createObjectURL(myBlob);

                try {
                    a.style.display = 'none';
                    a.href = objectURL;
                    a.download = fileName;
                    document.body.appendChild(a);
                    a.click();
                } finally {
                    window.URL.revokeObjectURL(objectURL);
                    document.body.removeChild(a);
                }
            });

        }).catch(err => {
            alert(err);
        });
    });
</script>
</body>
</html>